certifi==2021.10.8
charset-normalizer==2.0.12
docopt==0.6.2
feedparser==6.0.8
idna==3.3
pycurl==7.45.1
qbittorrent-api==2022.4.30
requests==2.27.1
sgmllib3k==1.0.0
six==1.16.0
urllib3==1.26.9
yarg==0.1.9
